.main_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #333;

  header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 0 120px;

    .page_name {
      color: #fff;
      font-size: 32px;
      font-weight: 700;

      span {
        color: #ff0000;
      }
    }

    .search_bar {
      input {
        border: 1px solid #ff0909;
        background: none;
        padding: 10px 15px;
        border-radius: 5px;
      }

      ::placeholder {
        color: white;
      }
    }
  }

  .filter_wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 30px;

    button {
      background-color: #ff4343;
      color: #fff;
      padding: 6px 12px;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #d63636;
      }
    }
  }

  .food_wrap {
    flex-grow: 1; // Allow food_wrap to grow and take remaining space
    min-height: 400px; // Set a minimum height to prevent shrinking
    background-image: url(/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px; // Add padding to create space
    display: flex;
    align-items: center;
    justify-content: center;

    .food_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px 20px;

      .food_cart {
        width: 340px;
        height: 180px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background: rgba(65, 65, 65, 0.25); // adds glassmorphisom
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); // adds glassmorphisom
        backdrop-filter: blur(4.5px); // adds glassmorphisom
        border: 1px solid transparent;
        border-image: linear-gradient(to right, #ff4343, #111, grey) 1; //adds gradient border

        .cart_items {
          display: flex;
          align-items: center;
          gap: 14px;
          color: #fff;

          .cart_text {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }

        button {
          background-color: #ff4343;
          border: none;
          padding: 3px 6px;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
        }
      }

      .not_found_msg {
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

/* Responsive adjustments */

@media (min-width: 100px) and (max-width: 420px) {
  .main_container {
    width: 420px;

    header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      padding: 50px 0 24px 0;
      height: max-content;
    }

    .filter_wrap {
      gap: 10px;
    }

    .food_wrap {
      flex-grow: 1;
      min-height: 400px;
      height: auto;
      padding-bottom: 20px;

      .food_grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding: 25px;
        margin: 0;
      }
    }
  }
}

@media (min-width: 421px) and (max-width: 767px) {
  .main_container {
    width: auto;

    header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      padding: 50px 0 24px 0;
      height: max-content;
    }

    .filter_wrap {
      gap: 10px;
    }

    .food_wrap {
      flex-grow: 1;
      min-height: 400px;
      height: auto;
      padding-bottom: 20px;

      .food_grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding: 25px;
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_container {
    min-height: 100vh;

    header {
      height: 150px;
    }

    .food_wrap {
      flex-grow: 1;
      height: calc(100vh - 210px);

      .food_grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        padding: 30px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .main_container {
    header {
      height: 150px;
    }
    .food_wrap {
      flex-grow: 1;
      height: calc(100vh - 210px);

      .food_grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        padding: 30px;
      }
    }
  }
}
