* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.grey {
  color: #797e82;
}

.red {
  color: #ff0000;
}

.cp {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: initial;
}
