.hero_container {
  padding: 96px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;

  .text_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    height: fit-content;
    padding: 40px 0 40px 32px;

    .location {
      display: flex;
      gap: 8px;
    }

    button {
      display: flex;
      align-items: center;
    }
  }

  .img_wrap {
    padding-right: 32px;
  }
}
