* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
}

:root {
  --grey: #4b5563;
  --seagreen: #10b981;
  --red: #b9104b;
  --primary-button-clr: #1e3a8a;
  --primary-button-clr-hover: #19337a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

//h3
.mid_heading {
  font-size: 30px;
  font-size: 500;
}

.body1 {
  font-size: 18px;
  font-weight: 400;
}

.body2 {
  font-size: 16px;
  font-weight: 400;
}

.body2_mid {
  font-size: 14px;
  font-weight: 500;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.subtitle_semi {
  font-size: 20px;
  font-weight: 700;
}

.red {
  color: var(--red);
}

.teal {
  color: var(--seagreen);
}

.cp {
  cursor: pointer;
}

.grey {
  color: var(--grey);
}

// button scss
.route_tab {
  background-color: var(--seagreen);
  padding: 6px 12px;
  color: white;
  border-radius: 12px;
}

.primary_button {
  padding: 8px 16px;
  background-color: var(--primary-button-clr);
  border-radius: 12px;
  color: white;

  &:hover {
    background-color: var(--primary-button-clr-hover);
  }
}

.mid_button {
  font-size: 16px;
  font-weight: 600;
}
